.button_status {
  border-radius: 100vh;
  background-color: #121214;
  color: #ffffff;
  font-size: 14px;
  font-weight: 590;
  line-height: 18px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 148px;
}
