.button_status{
    background-color: #fff;
    border-radius: 100vh;
    color: #121214;
    box-shadow: 0 4px 24px rgba(0,0,0, 0.16);
    font-size: 14px;
    font-weight: 590;
    line-height: 18px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
}