.wrapper {
}

.item {
  border-radius: 12px;
  color: #fff;
  background-color: #121214;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 590;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: center;
  &:last-child{
    margin-bottom: 40px;
  }
}

.title {
  font-size: 14px;
  font-weight: 590;
  line-height: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.dns {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
